app\__pycache__
__pycache__
\fenix
app\conexion\config.py
config.py
\venv_fenix 
/danza_fenix_env
/fenix
/venv/fenix
/env
/__pycache__
/classes/__pycache__
/apis/__pycache__
/queries/__pycache__
/connection/__pycache__
/models/__pycache__
danza_fenix.code-workspace
/.pytest_cache
/docs
/dumps
Trello.weblock
/logs
test/__pycache__
__pycache__
/test/__pycache__
