<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '404.css' %}">
</head>
<body>
    
    <h1 class="text_error">ERROR AL CARGAR LAS NOTICIAS</h1>
    <img src="https://media1.giphy.com/media/S8rEAbtG4WA2ULH7CH/giphy.gif?cid=ecf05e47dv51jgypbfbgsykkviixnyp7oiunz8zz289ga4zc&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="404">
</body>
</html>